:root {
  /* start with educated guess, so no far transition will take place init. */
  --answer-height: 50; /* no unit ("px") integer, so you can get the neg value */
}

/* grid */

#challenge .method {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr min-content; /* LEARN */
  gap: 0; /* STRATEGY: make gaps with margins around cells.
  otherwise the results row will have a gap, even when height is 0 */
}

.cell {
  margin: 10px;
  padding: 10px;
  border: 3px turquoise solid;
  border-radius: 5px;
}

.method .cell {
  grid-row: 1/3;
}

.method .inp {
  grid-row: 1/2;
}
.method .ans {
  grid-row: 2/3;
}

/* show answer transition */
.method .ans.wrapper {
  overflow: hidden;
  /* use * 1.5 for delayed drop down effect */
  /* LEARN **** how to add "px" unit to value */
  max-height: calc(var(--answer-height) * 1 * 1px);
  transition: max-height 2s;
}

.method .ans.collapsed {
  max-height: 0;
  opacity: 0.7; /* change to 0? **** */
}

.ans .cell {
  transition: transform 2s;
  transform: translateY((0));
}

.method .ans.collapsed .cell {
  transform: translateY(calc(var(--answer-height) * -1 * 1px));
}

/* input */
input[type="text"] {
  border: none;
  outline: none;
  height: 80%;
  width: 100%;
  border-radius: 5px;
}

div.inp:focus-within,
input[type="text"]:focus {
  background-color: pink;
}
