:root {
  /* start with educated guess, so no far transition will take place init. */
  --answer-height: 0; /* no unit ("px") integer, so you can get the neg value */
}

/* grid */

#challenge {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr min-content); /* LEARN */
  gap: 0; /* STRATEGY: make gaps with margins around cells.
  otherwise the results row will have a gap, even when height is 0 */
  /* width: 100%; NOT NEEDED I THINK*/
}

.cell {
  margin: 10px;
  padding: 10px;
  border: 3px red solid;
  border-radius: 5px;
}

.method-1 {
  grid-row: 1/3;
}

.method-1.inp {
  grid-row: 1/2;
}
.method-1.ans-wrapper {
  grid-row: 2/3;
}

.method-2 {
  grid-row: 3/5;
}

.method-2.inp {
  grid-row: 3/4;
}
.method-2.ans-wrapper {
  grid-row: 4/5;
}

/* show answer transition */
.ans-wrapper {
  overflow: hidden;
  /* use * 1.5 for delayed drop down effect */
  /* LEARN **** how to add "px" unit to value */
  max-height: calc(var(--answer-height) * 1 * 1px);
  transition: max-height 2s;
}

.ans-collapsed {
  max-height: 0;
  opacity: 0.7;
}

.ans-wrapper .ans.cell {
  transition: transform 2s;
  transform: translateY(calc(var(--answer-height) * -1 * 1px));
}
/* input */

input[type="text"] {
  border: none;
  outline: none;
  height: 80%;
  width: 100%;
  border-radius: 5px;
}

div.inp:focus-within,
input[type="text"]:focus {
  background-color: pink;
}
